*{
    margin: 0px;
    padding: 0px;
    font-size: 14;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/tweed.png);
    margin-left: 200px;
    margin-right: 200px;
    
}
h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: darkgray;
}
p {
    text-align: justify;
    color: white;
    overflow: hidden;
    padding: 20px 20px 0px 20px;
}
img {
    margin: 5px 10px 20px 10px;
}
div {
    margin-bottom: 20px;
}

#ungu {
    margin-right: 200px;
}
#merah {
    margin-right: 200px;
}
#hijau {
        margin-left: 200px;
}
#hitam {
     margin-left: 200px;
}
#kotak #ungu img {
    float: left;
    
}
#kotak #ungu p {
  background-color: #9168b3;
}
#kotak #hijau img {
    float: right;
    
}
#kotak #hijau p {
    background-color: #a8b368;
}
#kotak #merah img {
    float: left;
    
}
#kotak #merah p {
    background-color: #b36c68;
    
}
#kotak #hitam img {
    float: right;
    
}
#kotak #hitam p {
    background-color: #636363;
    
}